* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    overflow-x: hidden;
    background-color: rgb(199, 199, 199);
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 1.5rem 0;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
    letter-spacing: 2px;
}
nav ul li a::before { 
    content: '';
    width: 0;
    position: absolute;
    height: 2px;
    background-color: white;
    bottom: 0;
    transition: all 500ms;
}
nav ul li a.active::before {
    width: 50%;
}

nav ul li a:hover::before {
    width: 50%;
}

nav ul li a.active {
    opacity: 1;
}

.cover-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 25px;
    padding: .5rem;
    isolation: isolate;
    display: flex;
    float: left;
    
}

.cover-container img {
    width:1800px;
    height: 700px;
    align-items: center;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    
}

.line-image1 {
    display: flex;
    flex-wrap: wrap;
    float: left;
    gap: 25px;
    padding: 1.5rem;
}
.line-image2 {
    display: flex;
    flex-wrap: wrap;
    float: right;
    gap: 25px;
    padding: 1.5rem;
}


.image-container {
    background: black;
    opacity: 10;
}
.image-container {
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.image-container .image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px;
}
.image-title {
    text-align: center;
    padding: 10px 0;
}

.title-container .image-title {
    position: relative;
    color: white;
    font-family: "Poetsen One", sans-serif;
    text-decoration: underline 0.15em ;
}

.animate__animated .animate_fadeinleft {
    --animation-duration: 4s;
}

.animate__animated .animate_fadeinright {
    --animation-duration: 4s;
}
.animate__animated .animate__zoomIn {
    --animation-duration: 400ms;
}

@media (max-width: 1440px) {
    .cover-container img {
        width:1300px;
        height: 500px;
        align-items: center;
        object-fit: cover;
        border-radius: 10px;
        
    }
    .image-container {
        width: 350px;
        height: 250px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    .image-container .image-content {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 10px;
    }
    .image-title {
        text-align: center;
        padding: 10px 0;
    }
    
    .title-container .image-title {
        position: relative;
        color: white;
        font-family: "Poetsen One", sans-serif;
        text-decoration: underline 0.15em ;
    }
}

@media screen and (max-width: 1366px) {

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 10px;
    }
    .image-title {
        text-align: center;
        padding: 10px 0;
    }
}



@media  (max-width: 1100px) {

    html,body {
       overflow-y:scroll;
    }
    .image-container {
        width: 220px;
        height: 130px;
    }

    .cover-container img {
        width:1200px;
        height: 300px;
        align-items: center;
        object-fit: cover;
        border-radius: 10px;
        
    }
    .line-image1 {
        justify-content: center;
    }

    .line-image2 {
        justify-content: center;
    }


    .image-container {
        width: 300px;
        height: 200px;
    }


    main {
        gap: 15px;

    }
}
    
@media (max-width: 600px) {
    html, body {
        overflow-y: scroll;
    }

    .cover-container img {
        width:800px;
        height: 200px;
        align-items: center;
        object-fit: cover;
        border-radius: 10px;
    }

    .image-container {
        width: 300px;
        height: 200px;
    }


    main {
        gap: 15px;

    }
}