* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(218, 218, 218);
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 1.5rem 0;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
    letter-spacing: 2px;
}
nav ul li a::before { 
    content: '';
    width: 0;
    position: absolute;
    height: 2px;
    background-color: white;
    bottom: 0;
    transition: all 500ms;
}
nav ul li a.active::before {
    width: 50%;
}

nav ul li a:hover::before {
    width: 50%;
}

nav ul li a.active {
    opacity: 1;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 1.5rem;
}

.image-container {
    background: black;
    opacity: 10;
}
.image-container {
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px;
}
.image-title {
    text-align: center;
    padding: 10px 0;
}

.image-container:hover {
    width: 520px;
    height: 420px;
    transition: all 900ms;
}



@media screen and (max-width: 1366px) {

    .image-container {
        width: 330px;
        height: 230px;
        overflow: hidden;
        border-radius: 10px;
    }
    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 10px;
    }
    .image-title {
        text-align: center;
        padding: 10px 0;
    }

    .image-container:hover {
        width: 350px;
        height: 250px;
    }
}

@media screen and (max-width: 1100px) {
    html,body {
       overflow-y:scroll;
    }
}
    
@media screen and (max-width: 600px) {
    html, body {
        overflow-y: scroll;
    }

    .image-container {
        width: 300px;
        height: 200px;
    }

    .image-container:hover {
        width: 320px;
        height: 220px;
    }

    main {
        gap: 15px;
    }
}